<div>
  <h1>אישור הורים</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div>
      <app-student-details [formGroup]="formGroup" ></app-student-details>
      </div>
      <div>
        <h2>הצהרת בריאות</h2>
      <app-health-statement [formGroup]="formGroup" ></app-health-statement>
      </div>
      <app-parent-contact-details></app-parent-contact-details>
      <app-photography-approval></app-photography-approval>
      <app-student-escort></app-student-escort>
      <button mat-button type="submit">שלח</button>
      {{formGroup.errors | json}}
    </form>
</div>
