<div>
  <h1>אישור הורים</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div>
      <app-student-details [formGroup]="formGroup" ></app-student-details>
      </div>
      <div>
        <h2>הצהרת בריאות</h2>
      <app-health-statement [formGroup]="formGroup" ></app-health-statement>
      </div>
      <h2>פרטי קשר הורה</h2>
      <app-parent-contact-details [formGroup]="formGroup"></app-parent-contact-details>
      <app-photography-approval [formGroup]="formGroup"></app-photography-approval>
      <app-student-escort #studentEscort [formGroup]="formGroup"></app-student-escort>
      <button mat-raised-button color="primary" type="submit">שלח</button>

    </form>
</div>
