<div [formGroup]="formGroup">
  <label>
    <mat-checkbox type="checkbox" formControlName="noHealthProblems"></mat-checkbox>
    לא ידוע לי על רגישויות או מגבלות בריאותיות המונעות מבני להשתתף בכל הפעילויות
  </label>
  <div *ngIf="!noHealthProblems" >
    <div>
      <label>
        <mat-checkbox type="checkbox" formControlName="needHealthAssistants">
        </mat-checkbox>
        נדרש ליווי רפואי צמוד
      </label>
    </div>
    <div>
      <label>
        תיאור הבעיה הרפואית
        <input type="text"  formControlName="healthProblemDescription">
      </label>
    </div>
    <div>
      <label>
        יש צורך לקחת תרופות מסוג
        <input type="text" formControlName="typeOfMedicationRequired">
      </label>
    </div>
    <div>
      <label>
        יש אלרגיה / רגישות ל
        <input type="text"  fromControlName="allergies">
      </label>
    </div>
  </div>

  <div>
    <label>
      קופת חולים
      <input type="text"  formControlName="medicalOrganization">
    </label>
  </div>
</div>
