<div [formGroup]="formGroup">
  <label>
    <mat-checkbox type="checkbox" formControlName="noHealthProblems"></mat-checkbox>
    לא ידוע לי על רגישויות או מגבלות בריאותיות המונעות מבני להשתתף בכל הפעילויות
  </label>
  <div *ngIf="!noHealthProblems" >
    <div>
      <label>
        <mat-checkbox type="checkbox" formControlName="needHealthAssistants">
        </mat-checkbox>
        נדרש ליווי רפואי צמוד
      </label>
    </div>
    <div>
      <mat-form-field>
        <input type="text" matInput  formControlName="healthProblemDescription" placeholder="        תיאור הבעיה הרפואית">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="text" matInput formControlName="typeOfMedicationRequired" placeholder="        יש צורך לקחת תרופות מסוג
">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>

        <input type="text" matInput fromControlName="allergies" placeholder=" יש אלרגיה / רגישות ל">
      </mat-form-field>
    </div>
  </div>

  <div>
    <mat-form-field>
      <input type="text" matInput formControlName="medicalOrganization" placeholder="קופת חולים">
    </mat-form-field>
  </div>
</div>
