<div [formGroup]="formGroup">
  <h2>
    צילום הילדים ופרסום התמונות
  </h2>
  <div>
    במסגרת הקייטנה יצולמו הילדים
  </div>
  <div>
    <label>
      <mat-checkbox type="checkbox" formControlName="photographApproval" (change)="photographApprovalChanged($event)">
      </mat-checkbox>
      הנני מאשר לצלם תמונות בני/ ביתי
    </label>

  </div>
  <div>
    <label>
      <mat-checkbox type="checkbox" formControlName="photoUseApproval" >
      </mat-checkbox>
      הנני מאשר לפרסם תמונות בני/ ביתי
    </label>

  </div>
</div>
