<div [formGroup]="formGroup">
  <mat-form-field>
    <input type="text" matInput [formControlName]="'firstName'" placeholder="שם פרטי">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput formControlName="lastName" placeholder="שם משפחה">
  </mat-form-field>


  <mat-form-field>
    <input type="text" matInput formControlName="schoolClass" placeholder="כיתה">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput formControlName="schoolName" placeholder="בית ספר">
  </mat-form-field>
</div>
