<div [formGroup]="formGroup">
  <h2>בתום הפעילות</h2>
  <div>
    <label>
      <input type="radio" value="alone" formControlName="goHome">
      הילד/ה הולך/ת הביתה בכוחות עצמו/ה
    </label>
  </div>
  <div>
    <label>
      <input type="radio" value="withEscort" formControlName="goHome">
      ישתחרר בליווי
    </label>
  </div>
  <div *ngIf="goHome === 'withEscort'">
    <div class="escortRow" *ngFor="let escort of escorts" [formGroup]="escort">
      <mat-form-field>

          <input matInput type="text" formControlName="fullName" placeholder="שם מלא">

      </mat-form-field>
      <mat-form-field>

          <input matInput type="tel" formControlName="phoneNumber" placeholder="טלפון">

      </mat-form-field>
      <mat-form-field>

          <input matInput type="text" formControlName="relation" placeholder="קרבה">

      </mat-form-field>
    </div>
    <button mat-btn type="button" (click)="addEscort()">הוספת מלווה</button>
  </div>
</div>
